src/main/wsdl/HighLevelPolicyManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="HighLevelPolicyManagementService"
	targetNamespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management">
			<xsd:complexType name="StringList">
				<xsd:sequence>
					<xsd:element name="policyId" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UnbanResult">
				<xsd:sequence>
					<xsd:element name="statusCode" type="xsd:int"></xsd:element>
					<xsd:element name="conflictingPolicies" type="tns:StringList">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="addRuleRequest">
		<wsdl:part name="alias" type="xsd:string"></wsdl:part>
		<wsdl:part name="isPermit" type="xsd:boolean"></wsdl:part>
		<wsdl:part name="id" type="xsd:string"></wsdl:part>
		<wsdl:part name="value" type="xsd:string"></wsdl:part>
		<wsdl:part name="actionIdentifier" type="xsd:string"></wsdl:part>
		<wsdl:part name="ruleIdentifier" type="xsd:string"></wsdl:part>
		<wsdl:part name="moveAfter" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addRuleResponse">
		<wsdl:part name="ruleId" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="banRequest">
		<wsdl:part name="alias" type="xsd:string"></wsdl:part>
		<wsdl:part name="id" type="xsd:string"></wsdl:part>
		<wsdl:part name="value" type="xsd:string" />
		<wsdl:part name="resource" type="xsd:string"></wsdl:part>
		<wsdl:part name="action" type="xsd:string"></wsdl:part>
		<wsdl:part name="isPublic" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="banResponse">
		<wsdl:part name="policyId" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="eraseRepositoryRequest">
		<wsdl:part name="alias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="eraseRepositoryResponse">
	</wsdl:message>
	<wsdl:message name="purgeRequest">
		<wsdl:part name="alias" type="xsd:string"></wsdl:part>
		<wsdl:part name="purgeUnreferencedPolicies" type="xsd:boolean"></wsdl:part>
		<wsdl:part name="purgeEmptyPolicies" type="xsd:boolean"></wsdl:part>
		<wsdl:part name="purgeUnreferencedPolicySets" type="xsd:boolean"></wsdl:part>
		<wsdl:part name="purgeEmptyPolicySets" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="purgeResponse">
	</wsdl:message>
	<wsdl:message name="unbanRequest">
		<wsdl:part name="alias" type="xsd:string"></wsdl:part>
		<wsdl:part name="id" type="xsd:string"></wsdl:part>
		<wsdl:part name="value" type="xsd:string"></wsdl:part>
		<wsdl:part name="resource" type="xsd:string"></wsdl:part>
		<wsdl:part name="action" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unbanResponse">
		<wsdl:part name="unbanResult" type="tns:UnbanResult"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="HighLevelPolicyManagement">
		<wsdl:operation name="addRule">
			<wsdl:input message="tns:addRuleRequest"></wsdl:input>
			<wsdl:output message="tns:addRuleResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ban">
			<wsdl:input message="tns:banRequest" />
			<wsdl:output message="tns:banResponse" />
		</wsdl:operation>
		<wsdl:operation name="eraseRepository">
			<wsdl:input message="tns:eraseRepositoryRequest"></wsdl:input>
			<wsdl:output message="tns:eraseRepositoryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="purge">
			<wsdl:input message="tns:purgeRequest"></wsdl:input>
			<wsdl:output message="tns:purgeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unban">
			<wsdl:input message="tns:unbanRequest"></wsdl:input>
			<wsdl:output message="tns:unbanResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HighLevelPolicyManagementSOAP" type="tns:HighLevelPolicyManagement">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="addRule">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management/addRule" />
			<wsdl:input>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ban">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management/banDN" />
			<wsdl:input>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="eraseRepository">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management/eraseRepository" />
			<wsdl:input>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="purge">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management/purge" />
			<wsdl:input>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unban">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management/unbanDN" />
			<wsdl:input>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://org.glite.authz/wsdl/pap/services/highlevel_policy_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HighLevelPolicyManagementService">
		<wsdl:port binding="tns:HighLevelPolicyManagementSOAP" name="HighLevelPolicyManagementService">
			<soap:address location="https://localhost:8443/pap" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
