src/main/wsdl/PAPManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://org.glite.authz/wsdl/pap/services/pap_management"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="PAPManagementService" targetNamespace="http://org.glite.authz/wsdl/pap/services/pap_management">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://org.glite.authz/wsdl/pap/services/pap_management">
			<xsd:complexType name="PAPData">
				<xsd:sequence>
					<xsd:element name="alias" type="xsd:string"></xsd:element>
					<xsd:element name="id" type="xsd:string"></xsd:element>
					<xsd:element name="dn" type="xsd:string"></xsd:element>
					<xsd:element name="hostname" type="xsd:string"></xsd:element>
					<xsd:element name="port" type="xsd:string"></xsd:element>
					<xsd:element name="path" type="xsd:string"></xsd:element>
					<xsd:element name="protocol" type="xsd:string"></xsd:element>
					<xsd:element name="visibilityPublic"
						type="xsd:boolean">
					</xsd:element>
					<xsd:element name="type" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PAPDataList">
				<xsd:sequence>
					<xsd:element name="papData" type="tns:PAPData"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StringArray">
				<xsd:sequence>
					<xsd:element name="stringItem" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="addPAPRequest">
		<wsdl:part name="pap" type="tns:PAPData" />
	</wsdl:message>
	<wsdl:message name="addPAPResponse">
		<wsdl:part name="addPAPResponse" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="existsRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="existsResponse">
		<wsdl:part name="existsResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllPAPsRequest">
	</wsdl:message>
	<wsdl:message name="getAllPAPsResponse">
		<wsdl:part name="getAllPAPsResponse" type="tns:PAPDataList"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPAPRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPAPResponse">
		<wsdl:part name="getPAPResponse" type="tns:PAPData"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pingRequest">
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="pingResponse" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshCacheRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshCacheResponse">
		<wsdl:part name="refreshCacheResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePAPRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePAPResponse">
		<wsdl:part name="removePAPResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updatePAPRequest">
		<wsdl:part name="pap" type="tns:PAPData"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updatePAPResponse">
		<wsdl:part name="updatePAPResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOrderRequest">
	</wsdl:message>
	<wsdl:message name="getOrderResponse">
		<wsdl:part name="getOrderResponse" type="tns:StringArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setOrderRequest">
		<wsdl:part name="aliasArray" type="tns:StringArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setOrderResponse">
		<wsdl:part name="setOrderResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="PAPManagement">
		<wsdl:operation name="addPAP">
			<wsdl:input message="tns:addPAPRequest" />
			<wsdl:output message="tns:addPAPResponse" />
		</wsdl:operation>
		<wsdl:operation name="exists">
			<wsdl:input message="tns:existsRequest"></wsdl:input>
			<wsdl:output message="tns:existsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllPAPs">
			<wsdl:input message="tns:getAllPAPsRequest"></wsdl:input>
			<wsdl:output message="tns:getAllPAPsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPAP">
			<wsdl:input message="tns:getPAPRequest"></wsdl:input>
			<wsdl:output message="tns:getPAPResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="tns:pingRequest"></wsdl:input>
			<wsdl:output message="tns:pingResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="refreshCache">
			<wsdl:input message="tns:refreshCacheRequest"></wsdl:input>
			<wsdl:output message="tns:refreshCacheResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePAP">
			<wsdl:input message="tns:removePAPRequest"></wsdl:input>
			<wsdl:output message="tns:removePAPResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updatePAP">
			<wsdl:input message="tns:updatePAPRequest"></wsdl:input>
			<wsdl:output message="tns:updatePAPResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrder">
			<wsdl:input message="tns:getOrderRequest"></wsdl:input>
			<wsdl:output message="tns:getOrderResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setOrder">
			<wsdl:input message="tns:setOrderRequest"></wsdl:input>
			<wsdl:output message="tns:setOrderResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PAPManagementSOAP" type="tns:PAPManagement">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addPAP">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/addPAP" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="exists">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/exists" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllPAPs">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/getAllPAPs" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPAP">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/getPAP" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/ping" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="refreshCache">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/refreshCache" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePAP">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/removePAP" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updatePAP">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/updatePAP" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrder">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/getOrder" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setOrder">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/updatePAP" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PAPManagementService">
		<wsdl:port binding="tns:PAPManagementSOAP" name="PAPManagementService">
			<soap:address location="https://localhost:8443/pap" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
