src/main/wsdl/PAPManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://org.glite.authz/wsdl/pap/services/pap_management"
	xmlns:papns="http://org.glite.authz/wsdl/pap/services/pap_management/pap"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="PAPManagementService" targetNamespace="http://org.glite.authz/wsdl/pap/services/pap_management">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://org.glite.authz/wsdl/pap/services/pap_management/pap">
			<xsd:complexType name="Pap">
				<xsd:sequence>
					<xsd:element name="alias" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="id" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="dn" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="hostname" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="port" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="path" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="protocol" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="visibilityPublic" type="xsd:boolean"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="local" type="xsd:boolean" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://org.glite.authz/wsdl/pap/services/pap_management">
			<xsd:complexType name="PapList">
				<xsd:sequence>
					<xsd:element name="papData" type="papns:Pap" maxOccurs="unbounded"
						minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StringArray">
				<xsd:sequence>
					<xsd:element name="stringItem" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="addPapRequest">
		<wsdl:part name="pap" type="papns:Pap" />
	</wsdl:message>
	<wsdl:message name="addPapResponse">
		<wsdl:part name="addPapResponse" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="existsRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="existsResponse">
		<wsdl:part name="existsResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllPapsRequest">
	</wsdl:message>
	<wsdl:message name="getAllPapsResponse">
		<wsdl:part name="getAllPapsResponse" type="tns:PapList"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPapRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPapResponse">
		<wsdl:part name="getPapResponse" type="papns:Pap"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pingRequest">
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="pingResponse" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshCacheRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshCacheResponse">
		<wsdl:part name="refreshCacheResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePapRequest">
		<wsdl:part name="papAlias" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePapResponse">
		<wsdl:part name="removePapResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updatePapRequest">
		<wsdl:part name="pap" type="papns:Pap"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updatePapResponse">
		<wsdl:part name="updatePapResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOrderRequest">
	</wsdl:message>
	<wsdl:message name="getOrderResponse">
		<wsdl:part name="getOrderResponse" type="tns:StringArray"></wsdl:part>
	</wsdl:message>
		<wsdl:message name="getPollingIntervalRequest">
	</wsdl:message>
	<wsdl:message name="getPollingIntervalResponse">
		<wsdl:part name="seconds" type="xsd:float"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setOrderRequest">
		<wsdl:part name="aliasArray" type="tns:StringArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setOrderResponse">
		<wsdl:part name="setOrderResponse" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setPollingIntervalRequest">
		<wsdl:part name="seconds" type="xsd:float"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setPollingIntervalResponse">
	</wsdl:message>
	
	<wsdl:portType name="PAPManagement">
		<wsdl:operation name="addPap">
			<wsdl:input message="tns:addPapRequest" />
			<wsdl:output message="tns:addPapResponse" />
		</wsdl:operation>
		<wsdl:operation name="exists">
			<wsdl:input message="tns:existsRequest"></wsdl:input>
			<wsdl:output message="tns:existsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllPaps">
			<wsdl:input message="tns:getAllPapsRequest"></wsdl:input>
			<wsdl:output message="tns:getAllPapsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPap">
			<wsdl:input message="tns:getPapRequest"></wsdl:input>
			<wsdl:output message="tns:getPapResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="tns:pingRequest"></wsdl:input>
			<wsdl:output message="tns:pingResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="refreshCache">
			<wsdl:input message="tns:refreshCacheRequest"></wsdl:input>
			<wsdl:output message="tns:refreshCacheResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePap">
			<wsdl:input message="tns:removePapRequest"></wsdl:input>
			<wsdl:output message="tns:removePapResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updatePap">
			<wsdl:input message="tns:updatePapRequest"></wsdl:input>
			<wsdl:output message="tns:updatePapResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrder">
			<wsdl:input message="tns:getOrderRequest"></wsdl:input>
			<wsdl:output message="tns:getOrderResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPollingInterval">
			<wsdl:input message="tns:getPollingIntervalRequest"></wsdl:input>
			<wsdl:output message="tns:getPollingIntervalResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setOrder">
			<wsdl:input message="tns:setOrderRequest"></wsdl:input>
			<wsdl:output message="tns:setOrderResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setPollingInterval">
			<wsdl:input message="tns:setPollingIntervalRequest"></wsdl:input>
			<wsdl:output message="tns:setPollingIntervalResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PAPManagementSOAP" type="tns:PAPManagement">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addPap">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/addPap" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="exists">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/exists" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllPaps">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/getAllPaps" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPap">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/getPap" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/ping" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="refreshCache">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/refreshCache" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePap">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/removePap" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updatePap">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/updatePap" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrder">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/getOrder" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPollingInterval">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/getPollingInterval" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setOrder">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/updatePap" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setPollingInterval">
			<soap:operation
				soapAction="http://org.glite.authz/wsdl/pap/services/pap_management/setPollingInterval" />
			<wsdl:input>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://org.glite.authz/wsdl/pap/services/pap_management"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PAPManagementService">
		<wsdl:port binding="tns:PAPManagementSOAP" name="PAPManagementService">
			<soap:address location="https://localhost:8443/pap" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
